
.page_footer
    .footer_company
        | Butterfly.
    .footer_links
        a(href="https://help.butterfly.ai" rel="noreferrer")
            bdo(dir="auto") Support
        a(href="https://www.butterfly.ai/legal" rel="noreferrer" target="_blank")
            bdo(dir="auto") Terms of Service
        a(href="https://www.butterfly.ai/legal" rel="noreferrer" target="_blank")
            bdo(dir="auto") Privacy Policy
    .footer_copyright
        | ©2021 Appynest, Inc.