extends layout

block content  
    .mood_box
      .mood_title     
        .mood_title_header_box
          .mood_title_header_text
            | Your Team's Happiness Manager
        .mood_title_image_box       
          .mood_title_image_text
            | Butterfly
          img.mood_title_image(src="../images/Butterfly.svg")
      .mood_body
        .mood_body_title
          strong #{company}
          | Would like to know:
        .mood_body_title2
          | How is your week going?
        .moods_container
          a(href="/demo-question/1")
            img.moods_icon(src="../images/VeryUnhappy.svg")
          a(href="/demo-question/2")
            img.moods_icon(src="../images/Unhappy.svg")
          a(href="/demo-question/3")
            img.moods_icon(src="../images/Neutral.svg")
          a(href="/demo-question/4")
            img.moods_icon(src="../images/Happy.svg")
          a(href="/demo-question/5")
            img.moods_icon(src="../images/VeryHappy.svg")
        .mood_body_title
          | Your answer will always remain anonymous 
        
      .mood_footer
        .footer_line_1
          | Butterfly. Your Team's Happiness Manager.
        .footer_copyright
          | Appynest, Inc. - 604 East Eleven Street, NY 10009
          br
          | ©2021 Appynest, Inc. All rights reserved.