doctype html
html
  head
    title=title 
    link(rel="stylesheet", href="/stylesheets/style.css")    
    link(rel="icon", href="/images/favicon.v2.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js", integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=", crossorigin="anonymous")
  body(class=( page === "home" ? "mood_bg" : "default_bg"))       
    block content
