extends layout2

mixin question_section(question, index, length)
    .question_form_item   
        .question_form_item_table    
            .question_form_index
                | #{index + 1} of #{length}
            .question_form_area
                | #{question.area}
            .question_form_topic
                | #{question.topic}
            .question_rating_wrapper
                .question_rating_inner
                    .rate
                        input(type="radio" name="rate_" + question.id value="10|"+ question.id id="star10_" + question.id)
                        label(for="star10_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="9|"+ question.id id="star9_" + question.id)
                        label(for="star9_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="8|"+ question.id id="star8_" + question.id)
                        label(for="star8_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="7|"+ question.id id="star7_" + question.id)
                        label(for="star7_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="6|"+ question.id id="star6_" + question.id)
                        label(for="star6_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="5|"+ question.id id="star5_" + question.id)
                        label(for="star5_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="4|"+ question.id id="star4_" + question.id)
                        label(for="star4_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="3|"+ question.id id="star3_" + question.id)
                        label(for="star3_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="2|"+ question.id id="star2_" + question.id)
                        label(for="star2_" + question.id title="text")
                        input(type="radio" name="rate_" + question.id value="1|"+ question.id id="star1_" + question.id)
                        label(for="star1_" + question.id title="text")   

            .question_rating_scale
                span Disagree
                span Agree
            .question_add_comment
                button.question_add_comment_button(type="button") 
                    | Add comment
                textarea.question_textarea(placeholder=`Anything to add for ${question.area}?` style='height: calc(0px - 0rem); display: none' name="comment_" + question.id)

block content
    .question_wrapper
        .question_left_pane    
        .question_content
            .question_header
                .question_header_image
                        img.question_icon_large(src="../images/" + header.image)                   
                .question_header_text
                    .header_white
                        | #{header.header}
                    .question_note
                        | Your answers will 
                        strong always remain anonymous
                .question_header_right
                    .question_header_right_company_name
                        | #{company}
            .question_header_mood_changer(style="display:none")
                .question_header_mood_changer_title
                    | Did you make a mistake? Please select your correct mood:
                .question_moods_container
                    a(href="/demo-question/1")
                        img.question_moods_icon(src="../images/VeryUnhappy.svg")
                    a(href="/demo-question/2")
                        img.question_moods_icon(src="../images/Unhappy.svg")
                    a(href="/demo-question/3")
                        img.question_moods_icon(src="../images/Neutral.svg")
                    a(href="/demo-question/4")
                        img.question_moods_icon(src="../images/Happy.svg")
                    a(href="/demo-question/5")
                        img.question_moods_icon(src="../images/VeryHappy.svg")
            .question_sub_header
                .header_white
                    | Do you agree with the following statements?:
            div
                form.question_form(action="add", method="POST")  
                    .question_form_wrapper          
                        each q, index in questions
                            +question_section(q, index, questions.length)
                    .question_form_item_note
                        .question_form_item_table
                            .question_form_note_header
                                .question_form_note_header_title
                                    | Anything to add? (Optional)
                                .question_form_note_header_title2
                                    | Extra feedback helps                            
                            .question_add_comment
                                textarea.question_textarea(placeholder="Express yourself freely and safely. This will always remain anonymous." style="height: calc(0px - 0rem);" name="general_comment")
                    .button_wrapper
                        button.send_button(type="submit" disabled="true") 
                            | Send

            include footer



    script.
        $(document).ready(function(){    
                    
            $(".question_add_comment_button").click(function(){
                var t = $(this);
                t.hide();
                t.next(".question_textarea").show();                
            });

            $(".question_icon_large").click(function(){
                $(".question_header").hide();
                $(".question_header_mood_changer").show();              
            });

            $("input[type=radio]").change(function(){
                var ratings = [];
                var parent =  $(this).parents(".question_form_item_table");
                parent.find(".question_add_comment_button").hide();    
                parent.find(".question_textarea").show();
                $("input[type=radio]:checked").each( function() {
                    ratings.push($(this).val());
                })
                if(ratings.length === #{questions.length})
                    $(".send_button").removeAttr("disabled");
            });
        });

        
            