extends layout2

block content 
    .question_wrapper
        .question_left_pane    
        .question_content
            .question_header
                .question_header_image
                        img.question_icon_large(src="../images/tick.svg")                   
                .question_header_text
                    .header_white_large
                        | Thank you!
                    .header_white
                        | Your feedback has been sent.
                        | Have a lovely day!
                .question_header_right
                    .question_header_right_company_name
                        | #{company}
            .button_wrapper
                button.home_button(type="button" ) 
                    | Back to Home Page
            include footer

    script.
        $(document).ready(function(){
            $(".home_button").click(function(){
               window.location = "/";             
            });            
        });