html {
    font-size: 62.5%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 400;
}

textarea {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a {
    background-color: transparent;
}
body {
    padding: 0;
    margin: 0;
}

form {
    display: block;
    margin-top: 0em;
}

button {
    cursor: pointer;
}

.leftpane_bg {
    background-color: #0d4d54;
}

.default_bg {
    background: #166e78;
    background-image: linear-gradient(180deg, rgba(13, 77, 84, 0), #0d4d54 77%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}

.question_icon_large {
    height: 12rem;
    width: 12rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 12rem;
}

.question_wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.question_content {
    padding: 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    overflow-y: auto;
}

.question_left_pane {
    box-sizing: border-box;
    display: flex;
    width: 3.6rem;
    flex: 0 0 3.6rem;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    background-color: #0d4d54;
}

.question_header {
    display: flex;
    flex-direction: row;
}

.question_header_image {
    padding: 0rem;
}

.question_header_text {
    padding: 3rem;
}

.question_header_mood_changer {
    box-sizing: border-box;
    min-height: 13rem;
    margin-bottom: 1.2rem;
    max-width: 52rem;
    background: #0d4d54;
    padding: 1.5rem 3rem;
    border-radius: 0.3rem;
}

.question_header_mood_changer_title {
    color: #fff;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.question_moods_container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.question_moods_icon {
    height: 6rem;
    width: 6rem;
    padding: 1rem;
}

.question_header_right {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.question_header_right_company_name {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
}

.header_white {
    font-size: 2rem;
    font-weight: 500;
    color: white;
}

.header_white_large {
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

.question_note {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #ffffff99;
}

.question_note > strong {
    color: #2ce6ce;
    font-weight: 700;
}

.question_sub_header {
    padding-top: 2rem;
}

.question_form {
    box-sizing: border-box;
    border-radius: 0.3rem;
    padding: 0 0 3.2rem;
    margin-top: 1.5rem;
    border: none;
}

.question_form_wrapper {
    display: flex;
    flex-direction: column;
}

.question_form_item {
    margin: 1.5rem 0 0;
    border-radius: 0.3rem;
    background: #fff;
    padding-bottom: 3rem;
    text-align: center;
    position: relative;
    max-width: 60rem;
}

.question_form_item_table {
    display: flex;
    flex-direction: column;
}

.question_form_index {
    font-size: 1.3rem;
    color: #acaaaa;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    text-align: start;
}

.question_form_area {
    font-size: 1.5rem;
    font-weight: bold;
    color: #166e78;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    text-align: start;
}

.question_form_topic {
    font-size: 2.2rem;
    font-weight: 500;
    color: #666666;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    text-align: start;
}

.question_rating_wrapper {
    text-align: center;
    padding-left: 3rem;
    margin-top: 1rem;
    padding-right: 3rem;
}

.question_rating_inner {
    border-radius: 3rem;
    height: 4.5rem;
    background-color: #eee;
    text-align: center;
}

.question_rating_scale {
    font-size: 1.6rem;
    color: #4a4a4a;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 3rem 0;
}

.question_add_comment {
    padding-left: 3rem;
    margin-top: 1rem;
    padding-right: 3rem;
}

.question_add_comment_button {
    margin-top: 2rem;
    padding: 0;
    background: none;
    border: none;
    color: #2ce6ce;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: underline;
}

.question_textarea {
    box-sizing: border-box;
    min-height: 10rem;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    text-align: start;
    color: #474747;
    border: 2px solid #dedede;
    border-radius: 0.3rem;
}

.question_form_item_note {
    margin: 1.5rem 0 0;
    border-radius: 0.3rem;
    background: #1b828e;
    padding-bottom: 3rem;
    text-align: center;
    position: relative;
    max-width: 60rem;
}

.question_form_note_header {
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    padding: 2.4rem 3.5rem 0;
}

.question_form_note_header_title {
    font-size: 2.4rem;
    text-align: start;
    font-weight: 700;
    color: #fff;
}

.question_form_note_header_title2 {
    display: flex;
    box-sizing: border-box;
    flex: 0 0 8.9rem;
    height: 8.9rem;
    width: 8.9rem;
    align-items: center;
    background: #0d4d54;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    word-spacing: 8.9rem;
}

.send_button {
    min-width: 20rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0.3rem;
    line-height: 2.4rem;
    padding: 1.7rem 1.8rem 1.7rem 2.2rem;
    color: #fff;
    background: #2ce6ce;
    border: 1px solid #2ce6ce;
    text-decoration: none;
    display: inline-block;
}

.send_button.disabled,
.send_button[disabled] {
    cursor: default;
    color: #dedede;
    background: #ededed;
    border: 1px solid #dedede;
}

.send_button:not([no-spinner]):after {
    margin-left: 1.8rem;
    height: 1.4rem;
    width: 2.4rem;
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='25' height='15' viewBox='0 0 25 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.25 7.392a1 1 0 0 0 1 1h19.586l-4.292 4.292a1 1 0 1 0 1.414 1.414l6-6a.99.99 0 0 0 .292-.702v-.004c0-.13-.026-.26-.078-.382a.99.99 0 0 0-.216-.324l-6-6A1 1 0 0 0 16.542 2.1l4.294 4.292H1.25a1 1 0 0 0-1 1z' fill='%23FFF' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.send_button.disabled:not([no-spinner]):after,
.send_button[disabled]:not([no-spinner]):after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='25' height='15' viewBox='0 0 25 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.25 7.392a1 1 0 0 0 1 1h19.586l-4.292 4.292a1 1 0 1 0 1.414 1.414l6-6a.99.99 0 0 0 .292-.702v-.004c0-.13-.026-.26-.078-.382a.99.99 0 0 0-.216-.324l-6-6A1 1 0 0 0 16.542 2.1l4.294 4.292H1.25a1 1 0 0 0-1 1z' fill='%23DEDEDE' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.page_footer {
    flex: 0 0 8rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
}

.footer_company {
    color: #fff;
    margin-bottom: 1.4rem;
}

.footer_links {
    margin-bottom: 1.4rem;
}
.footer_links > a {
    color: #2ce6ce;
    text-decoration: none;
}
.footer_links > a:not(:last-of-type):after {
    content: " |";
}
.footer_copyright {
    color: #fff;
}

.button_wrapper {
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

.home_button {
    min-width: 20rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 0.3rem;
    line-height: 2.4rem;
    padding: 1.7rem 1.8rem 1.7rem 2.2rem;
    color: #fff;
    background: #2ce6ce;
    border: 1px solid #2ce6ce;
    text-decoration: none;
    display: inline-block;
    margin-top: 3.5rem;
}

.rate {
    display: flex;
    direction: rtl;
    justify-content: space-between;
}
.rate:not(:checked) > input {
    position: absolute;
    visibility: hidden;
}
.rate:not(:checked) > label {
    float: right;
    width: 4.5rem;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 3rem;
    color: #bbb;
    /* padding: 1rem; */
}
.rate:not(:checked) > label:before {
    content: "★  ";
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 625px) {
    html {
        font-size: 99.5%;
        height: 100%;
    }
    .default_bg {
        width: 100%;
    }
    .question_header_right {
        display: none;
    }
}
