html {
    font-size: 62.5%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: 400;
}

textarea {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a {
    background-color: transparent;
}
body {
    padding: 0;
    margin: 0;
}

form {
    display: block;
    margin-top: 0em;
}

.default_bg {
    background: #166e78;
    background-image: linear-gradient(180deg, rgba(13, 77, 84, 0), #0d4d54 77%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
}
.mood_bg {
    background-color: #2cc2ae;
}

.mood_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
}

.mood_title {
    width: 60rem;
    height: 10rem;
    display: flex;
    flex-direction: row;
}

.mood_body {
    width: 60rem;
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding: 0 1rem;
    border-radius: 0.3rem;
}

.mood_footer {
    text-align: center;
    font-size: 1.1rem;
    padding: 3rem 0;
}

.mood_title_image_box {
    width: 35%;
    height: 8rem;
    display: flex;
    flex-direction: row-reverse;
}
.mood_title_header_box {
    width: 65%;
    height: 8rem;
    text-align: left;
    display: flex;
}

.mood_title_header_text {
    font-weight: bold;
    color: #3e3e3e;
    font-size: 1.5rem;
    align-self: flex-end;
}

.mood_title_image {
    width: 8rem;
    height: 8rem;
}

.mood_title_image_text {
    font-weight: bold;
    color: white;
    font-size: 2rem;
    align-self: flex-end;
}

.mood_body_title {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    color: #606060;
}

.mood_body_title2 {
    margin-top: 1.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #606060;
}

.moods_container {
    margin-top: 1.5rem;
}

.moods_icon {
    height: 8rem;
    width: 8rem;
    padding: 1rem;
}

.footer_line_1 {
    color: #3e3e3e;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

.footer_copyright {
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 625px) {
    html {
        font-size: 99.5%;
        height: 100%;
    }
    .mood_title {
        width: 100%;
    }
    .mood_body {
        width: 100%;
        height: auto;
    }
    .default_bg {
        width: 100%;
    }
    .mood_bg {
        width: 100%;
    }
}
